@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('@fontsource/heebo/index.css');  
@import url('@fontsource-variable/montserrat/index.css');  
*,
*::before,
*::after{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  --lumo-font-family: 'Montserrat Variable';
}





@media only screen and (max-width: 326px) {
.test{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

vaadin-text-field ::placeholder{
  color: var(--lumo-contrast-50pct)!important;

}
vaadin-text-field::part(input-field){
  padding-right: 0 ;

}

vaadin-text-field.creatinine > [slot="helper"]{
  font-weight: bold;
  /* color: black; */
}

vaadin-item.nyhaclass[selected]{
  background-color: var(--lumo-disabled-text-color);
}


vaadin-select::part(input-field){
  border: none;
}
vaadin-select[focused]{
  border: none;

}

.bg-pattern {
  background-image: url('/assets/images/drugs.svg'); /* Sostituisci con il percorso del tuo pattern */
  background-size: cover;
  background-repeat: no-repeat;
}



/* this bitch */
vaadin-select-overlay::part(overlay){
  background-color: white;
}

vaadin-select-item::part(checkmark){
  background-color: green;
}
[part='toggle-button']::before {
  background-color: green;
 
}


vaadin-select::part(toggle-button){
  color: var(--primary-background-color);
}

.ant-pagination .ant-pagination-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pagination .ant-pagination-jump-prev{
  display: flex;
  justify-content: center;
  align-items: center;
}