@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('@fontsource-variable/montserrat/index.css');  
*,
*::before,
*::after{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  --lumo-font-family: 'Montserrat Variable';
}
html {

  --primary-background-color:#00A9E4;
  --secondary-background-color:rgb(153, 176, 128);
  --tertiary-background-color:rgb(249, 181, 114);
  --accent-background-color:rgb(250, 248, 237);





      /* --lumo-contrast-90pct:hsla(214, 96%, 96%, 0.9); */
      /* --button-text-color:hsl(22, 96%, 47%); */
      --button-text-color: rgb(116, 142, 99);
      --line-color:hsl(22, 96%, 47%);
      --locale-color:hsl(214, 100%, 98%);


      --lumo-body-color: rgb(17, 24, 39);

      --lumo-contrast:hsl(214, 100%, 98%);
      --lumo-shade-5pct: rgba(33, 33, 33, 0.05);
      --lumo-shade-10pct: rgba(33, 33, 33, 0.1);
      --lumo-shade-20pct: rgba(33, 33, 33, 0.2);
      --lumo-shade-30pct: rgba(33, 33, 33, 0.3);
      --lumo-shade-40pct: rgba(33, 33, 33, 0.4);
      --lumo-shade-50pct: rgba(33, 33, 33, 0.5);
      --lumo-shade-60pct: rgba(33, 33, 33, 0.6);
      --lumo-shade-70pct: rgba(33, 33, 33, 0.7);
      --lumo-shade-80pct: rgba(33, 33, 33, 0.8);
      --lumo-shade-90pct: rgba(33, 33, 33, 0.9);
      --lumo-primary-color-50pct: rgba(235, 89, 5, 0.5);
      --lumo-primary-color-10pct: rgba(235, 89, 5, 0.1);
      --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
      --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
      --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
      --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
      --lumo-shade: hsl(0, 0%, 13%);
      /* --lumo-primary-color: hsl(22, 96%, 47%); */
      --lumo-primary-color: #00A9E4;

      /* --lumo-primary-text-color: hsl(22, 100%, 42%); */
      --lumo-primary-text-color: #00A9E4;

      --lumo-error-color: hsl(0, 81%, 50%);
      --lumo-error-text-color: hsl(0, 86%, 45%);
      --lumo-success-color: hsl(159, 76%, 57%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 61%, 40%);
      --lumo-font-size: 1rem;
      --lumo-font-size-xxxl: 1.75rem;
      --lumo-font-size-xxl: 1.375rem;
      --lumo-font-size-xl: 1.125rem;
      --lumo-font-size-l: 1rem;
      --lumo-font-size-m: 0.875rem;
      --lumo-font-size-s: 0.8125rem;
      --lumo-font-size-xs: 0.75rem;
      --lumo-font-size-xxs: 0.6875rem;
      --lumo-line-height-m: 1.4;
      --lumo-line-height-s: 1.2;
      --lumo-line-height-xs: 1.1;
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;

    }
    [theme~="dark"] {
      --button-text-color:#fff;
      --line-color:#fff;
      /* --locale-color:hsl(214, 35%, 21%); */
      --locale-color:#fff;

      --lumo-body-color: #fff;


      --lumo-shade-5pct: rgba(33, 33, 33, 0.05);
      --lumo-shade-10pct: rgba(33, 33, 33, 0.1);
      --lumo-shade-20pct: rgba(33, 33, 33, 0.2);
      --lumo-shade-30pct: rgba(33, 33, 33, 0.3);
      --lumo-shade-40pct: rgba(33, 33, 33, 0.4);
      --lumo-shade-50pct: rgba(33, 33, 33, 0.5);
      --lumo-shade-60pct: rgba(33, 33, 33, 0.6);
      --lumo-shade-70pct: rgba(33, 33, 33, 0.7);
      --lumo-shade-80pct: rgba(33, 33, 33, 0.8);
      --lumo-shade-90pct: rgba(33, 33, 33, 0.9);
      --lumo-primary-color-50pct: rgba(235, 89, 5, 0.5);
      --lumo-primary-color-10pct: rgba(235, 89, 5, 0.1);
      --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
      --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
      --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
      --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
      --lumo-shade: hsl(0, 0%, 13%);
      /* --lumo-primary-color: hsl(22, 96%, 47%); */
      --lumo-primary-color: #00A9E4;
      /* --lumo-primary-text-color: hsl(22, 100%, 42%); */
      --lumo-primary-text-color: #00A9E4;
      --lumo-error-color: hsl(0, 81%, 50%);
      --lumo-error-text-color: hsl(0, 86%, 45%);
      --lumo-success-color: hsl(159, 76%, 57%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 61%, 40%);
      --lumo-font-family: Heebo;
    }




@media only screen and (max-width: 326px) {
.test{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

vaadin-text-field ::placeholder{
  color: var(--lumo-contrast-50pct)!important;

}
vaadin-text-field::part(input-field){
  padding-right: 0 ;

}

vaadin-text-field.creatinine > [slot="helper"]{
  font-weight: bold;
  /* color: black; */
}

vaadin-item.nyhaclass[selected]{
  background-color: var(--lumo-disabled-text-color);
}


vaadin-select::part(input-field){
  border: none;
}
vaadin-select[focused]{
  border: none;

}

.bg-pattern {
  background-image: url('/assets/images/drugs.svg'); /* Sostituisci con il percorso del tuo pattern */
  background-size: cover;
  background-repeat: no-repeat;
}

/* vaadin-text-field > label{
  color: black;
} */

/* 
html {
  --lumo-shade-5pct: rgba(33, 33, 33, 0.05);
  --lumo-shade-10pct: rgba(33, 33, 33, 0.1);
  --lumo-shade-20pct: rgba(33, 33, 33, 0.2);
  --lumo-shade-30pct: rgba(33, 33, 33, 0.3);
  --lumo-shade-40pct: rgba(33, 33, 33, 0.4);
  --lumo-shade-50pct: rgba(33, 33, 33, 0.5);
  --lumo-shade-60pct: rgba(33, 33, 33, 0.6);
  --lumo-shade-70pct: rgba(33, 33, 33, 0.7);
  --lumo-shade-80pct: rgba(33, 33, 33, 0.8);
  --lumo-shade-90pct: rgba(33, 33, 33, 0.9);
  --lumo-primary-color-50pct: rgba(235, 89, 5, 0.5);
  --lumo-primary-color-10pct: rgba(235, 89, 5, 0.1);
  --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
  --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
  --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
  --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
  --lumo-shade: hsl(0, 0%, 13%);
  --lumo-primary-color: hsl(22, 96%, 47%);
  --lumo-primary-text-color: hsl(22, 100%, 42%);
  --lumo-error-color: hsl(0, 81%, 50%);
  --lumo-error-text-color: hsl(0, 86%, 45%);
  --lumo-success-color: hsl(159, 76%, 57%);
  --lumo-success-contrast-color: hsl(159, 29%, 10%);
  --lumo-success-text-color: hsl(159, 61%, 40%);
  --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
  --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
  --lumo-border-radius-l: var(--lumo-size-m);
  --lumo-size-xl: 3rem;
  --lumo-size-l: 2.5rem;
  --lumo-size-m: 2rem;
  --lumo-size-s: 1.75rem;
  --lumo-size-xs: 1.5rem;
  --lumo-space-xl: 1.875rem;
  --lumo-space-l: 1.25rem;
  --lumo-space-m: 0.625rem;
  --lumo-space-s: 0.3125rem;
  --lumo-space-xs: 0.1875rem;
  --lumo-font-family: Heebo;
}

[theme~="dark"] {
  --lumo-shade-5pct: rgba(33, 33, 33, 0.05);
  --lumo-shade-10pct: rgba(33, 33, 33, 0.1);
  --lumo-shade-20pct: rgba(33, 33, 33, 0.2);
  --lumo-shade-30pct: rgba(33, 33, 33, 0.3);
  --lumo-shade-40pct: rgba(33, 33, 33, 0.4);
  --lumo-shade-50pct: rgba(33, 33, 33, 0.5);
  --lumo-shade-60pct: rgba(33, 33, 33, 0.6);
  --lumo-shade-70pct: rgba(33, 33, 33, 0.7);
  --lumo-shade-80pct: rgba(33, 33, 33, 0.8);
  --lumo-shade-90pct: rgba(33, 33, 33, 0.9);
  --lumo-primary-color-50pct: rgba(235, 89, 5, 0.5);
  --lumo-primary-color-10pct: rgba(235, 89, 5, 0.1);
  --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
  --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
  --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
  --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
  --lumo-shade: hsl(0, 0%, 13%);
  --lumo-primary-color: hsl(22, 96%, 47%);
  --lumo-primary-text-color: hsl(22, 100%, 42%);
  --lumo-error-color: hsl(0, 81%, 50%);
  --lumo-error-text-color: hsl(0, 86%, 45%);
  --lumo-success-color: hsl(159, 76%, 57%);
  --lumo-success-contrast-color: hsl(159, 29%, 10%);
  --lumo-success-text-color: hsl(159, 61%, 40%);
  --lumo-font-family: Heebo;
} */



/* this bitch */
vaadin-select-overlay::part(overlay){
  background-color: white;
}

vaadin-select-item::part(checkmark){
  background-color: green;
}
[part='toggle-button']::before {
  background-color: green;
 
}


vaadin-select::part(toggle-button){
  color: var(--primary-background-color);
}
